name: Build Jekyll site

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1' # 필요시 3.0/3.2 등으로 변경

      - name: Install dependencies
        run: |
          bundle install --path vendor/bundle

      - name: Build site with Jekyll
        run: |
          bundle exec jekyll build --trace
